/* importo il font Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* VARIABILI STILI E COLORI */
:root {
  --primary1-color: #551cab;
  --primary2-color: #ffffff;

  /* il denominativo -t- indica che è per il testo su quel colore */
  --secondary1-color: #1a1a1a;
  --secondary1-t-color: rgb(240, 240, 240);
  --secondary1-t2-color: rgb(158, 158, 158);
  --secondary2-color: #ff6b6b;
  --secondary2-t-color: #bd0000;
  --secondary3-color: #ffe66d;
  --secondary3-t-color: #917600;
  --secondary4-color: #4ecdc4;
  --secondary4-t-color: #20706b;
  --secondary5-color: #4e94cd;
  --secondary5-t-color: #1d4666;
  --secondary6-color: #24f224;

  --hight-header: 55px;
  --height-footer: 60px;
}
/* non fa venire il rettangolo blue di selezione su mobile */
::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

/* toglie il bordo arancione di defaual */
*:focus {
  outline: none;
}
input {
  font-size: 1rem;
}
/* fonts sizes */
.sm-text {
  font-size: 12px;
}
.dt-text {
  font-size: 14px;
}
.bd-text {
  font-size: 16px;
}
.sb-tl-text {
  font-size: 18px;
}
.tl-text {
  font-size: 24px;
}
.mn-tl-text {
  font-size: 32px;
}
/* margin */
.sm-margin{
  margin:5px;
}

/* user img */
.user-icon-img {
  height: 45px;
  width: 45px;
  padding: 2px;
  border-radius: 100%;
  border: 2px solid var(--primary1-color);
}
.user-topbar {
  width: 100%;
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* card template */
.sec-card {
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  margin: 10px;
  background: var(--primary2-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.027);
}
.sec-card .card-title,
.sec-card .card-text {
  padding: 0;
  margin: 5px;
}
.alert {
  color: var(--secondary3-t-color);
  background: var(--secondary3-color);
  box-shadow: 0 6px 10px #9176004b, 0 0 6px #9176002a;
}
.error {
  color: var(--secondary2-t-color);
  background: var(--secondary2-color);
  box-shadow: 0 6px 10px #bd00004b, 0 0 6px #bd00002a;
}
.succes {
  color: var(--secondary4-t-color);
  background: var(--secondary4-color);
  box-shadow: 0 6px 10px #20706b4b, 0 0 6px #20706b2a;
}
.notf {
  color: var(--secondary5-t-color);
  background: var(--secondary5-color);
  box-shadow: 0 6px 10px #4e94cd4b, 0 0 6px #4e94cd2a;
}
/* END card template */
.navbar {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.068);
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 5px;
}
/* icone navbar */
footer i {
  padding: 10px;
  color: var(--secondary1-t2-color);
  transition: all 250ms;
}
footer i.active {
  color: var(--primary1-color);
}
/* END icone navbar */
/* switchbox */
input[type="checkbox"].switch_box {
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: var(--secondary1-t2-color);
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"].switch_box:checked {
  background: var(--secondary4-color);
}
input[type="checkbox"].switch_box:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--primary2-color);
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"].switch_box:checked:after {
  left: calc(100% - 1.5em);
}
/* END switchbox */
/* input text */
.input_field_theme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 90%;
  max-width: 360px;
  height: 25px;
  padding: 5px;
  background: var(--primary2-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.034), 0 0 6px rgba(0, 0, 0, 0.027);
  border-radius: 10px;
  background: var(--primary2-color);
  transition: all 250ms;
}
.input_field {
  border: none;
  width: 100%;
}
.input_field_theme i {
  color: var(--primary1-color);
  padding: 5px;
}
.input_field_theme:focus-within {
  border: 2px solid var(--secondary5-color);
}
.input_field_theme input::placeholder {
  color: var(--secondary1-t2-color);
  opacity: 1; /* Firefox */
}
.input_field_theme input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary1-t2-color);
}
.input_field_theme input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary1-t2-color);
}
/* END input text */
/* button style */
.button_theme {
  margin: 5px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  background: var(--secondary5-color);
  color: var(--primary2-color);
  border: 2px solid var(--secondary5-color);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 250ms;
}
.button_theme:focus {
  background: var(--secondary5-t-color);
  border: 2px solid var(--secondary5-t-color);
}
.button_theme2 {
  margin: 5px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  background: var(--primary2-color);
  color: var(--secondary5-color);
  border: 2px solid var(--secondary5-color);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button_theme2:focus {
  background: var(--secondary5-color);
  color: var(--primary2-color);
  border: 2px solid var(--secondary5-color);
}
.button_theme3 {
  margin: 5px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  background: var(--primary2-color);
  color: var(--secondary5-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button_theme3:focus {
  background: var(--secondary5-color);
  color: var(--primary2-color);
}

/* card animal selection */
.animal-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.animal-card {
  min-width: 65px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  transition: all 250ms;
  background: var(--primary2-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.027);
}
.animal-card i {
  color: var(--primary1-color);
  font-size: 32px;
}
.animals_box {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}
.animal-card-inactive {
  box-shadow: none;
  background: var(--secondary1-t-color);
  color: var(--secondary1-t2-color);
}
.animal-card-inactive i {
  color: var(--secondary1-t2-color);
}
.card-text-animal {
  margin: 5px;
}
/* END card animal selection */
/* show box */
.show-box{
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}
.show-card{
  width: 200px;
  margin: 10px;
  display: inline-block;
}
.show-card-sp{
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 3%);
  overflow: hidden;
}
.show-card-img{
  width: 200px;
}
.distance-icon{
  color: var(--secondary6-color);
  margin: 5px;
}
/* END show box*/
.title-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.color-title-box{
  color: var(--primary1-color);
}
