/* card template */
.sec-card {
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  margin: 10px;
  background: var(--primary2-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.027);
}
.sec-card .card-title,
.sec-card .card-text {
  padding: 0;
  margin: 5px;
}
.alert {
  color: var(--secondary3-t-color);
  background: var(--secondary3-color);
  box-shadow: 0 6px 10px #9176004b, 0 0 6px #9176002a;
}
.error {
  color: var(--secondary2-t-color);
  background: var(--secondary2-color);
  box-shadow: 0 6px 10px #bd00004b, 0 0 6px #bd00002a;
}
.succes {
  color: var(--secondary4-t-color);
  background: var(--secondary4-color);
  box-shadow: 0 6px 10px #20706b4b, 0 0 6px #20706b2a;
}
.notf {
  color: var(--secondary5-t-color);
  background: var(--secondary5-color);
  box-shadow: 0 6px 10px #4e94cd4b, 0 0 6px #4e94cd2a;
}
/* END card template */

.navbar {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.055);
  border-radius: 10px 10px 0px 0px;
}
/* icone navbar */
footer i {
  padding: 10px;
  color: var(--secondary1-t-color);
  transition: all 250ms;
}
footer i.active {
  color: var(--primary1-color);
}
/* END icone navbar */

/* switchbox */
input[type="checkbox"].switch_box {
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"].switch_box:checked {
  background: var(--secondary4-color);
}
input[type="checkbox"].switch_box:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--primary2-color);
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"].switch_box:checked:after {
  left: calc(100% - 1.5em);
}
/* END switchbox */
