.parTop-sitterpage-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 40%;
}
.parBot-sitterpage-sec {
  width: 90%;
  background: var(--primary2-color);
  height: 60%;
}
